import BaseModel from "#models/_BaseModel_"
import { Model } from "objection"

export default class {{ modelName }} extends BaseModel
{
    @each(column in columns) 
    declare {{column}} : any
    @end

    static get tableName() {
        return "{{ tableName ?? snakeCase(modelName) }}"
    }

    static get idColumn() {
        return "{{ idColumn ?? 'id'}}"
    }

    static get relationMappings() {
        return {
       
        }
    }
}   